{% extends 'base.html.twig' %}

{% block title %}Editar Usuário{% endblock %}

{% block body %}
    <h1>Editar Usuário</h1>

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

    {{ include('usuario/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('app_usuario_index') }}" class="btn btn-secondary mt-3">Voltar para a Lista</a>
{% endblock %}
