<!-- app.component.html (ou o componente onde está o layout) -->
<ng-container *ngIf="!isLoginPage()">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar style="font-weight: 800;">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="space_dashboard"></mat-icon>
        Dashboard
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/usuarios" *ngIf="temPermissaoAdmin()">Usuários</a>
        <a mat-list-item routerLink="/socios" *ngIf="temPermissaoAdmin()">Sócios</a>
        <a mat-list-item routerLink="/empresas" *ngIf="temPermissaoAdmin()">Empresas</a>
        <a mat-list-item routerLink="/perfil">Perfil</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        @if (isHandset$ | async) {
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }

        <div class="logout" *ngIf="nomeUsuario">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false" aria-label="Sair" fontIcon="keyboard_arrow_down"></mat-icon>
            <span>Olá, {{ nomeUsuario }}</span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="perfil()">
              <mat-icon aria-hidden="false" aria-label="Perfil" fontIcon="account_circle"></mat-icon>
              Perfil
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon aria-hidden="false" aria-label="Sair" fontIcon="output"></mat-icon>
              Sair
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>

      <div class="conteudo">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<!-- Mostra somente o conteúdo da rota login, sem layout -->
<router-outlet *ngIf="isLoginPage()"></router-outlet>
