<h2 mat-dialog-title>Criar Novo Sócio</h2>
<mat-dialog-content>
  <form #createForm="ngForm">
    <!-- Campo Nome -->
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Digite o nome" [(ngModel)]="data.nome" name="nome" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput
             placeholder="Digite o CPF"
             [(ngModel)]="data.cpf"
             name="cpf"
             required
             inputmode="numeric"
             pattern="[0-9]*"
             maxlength="11"
             (keypress)="apenasNumeros($event)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Empresa</mat-label>
      <mat-select [(ngModel)]="data.empresa" name="empresa">
        <mat-option *ngFor="let empresa of empresas" [value]="empresa">
          {{ empresa.nome }} <!-- Exibe o nome da empresa -->
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button color="primary" (click)="salvar()" [disabled]="!createForm.valid">Salvar</button>
</mat-dialog-actions>
