{% extends 'base.html.twig' %}

{% block title %}Criar Novo Sócio{% endblock %}

{% block body %}
    <h1>Criar Novo Sócio</h1>

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}

    {{ include('socio/_form.html.twig', {'button_label': 'Salvar'}) }}

    <a href="{{ path('app_socio_index') }}" class="btn btn-secondary mt-3">Voltar para a Lista</a>
{% endblock %}
